{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}



.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="username"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3{
	text-align:center;
}

.blog-posts{
  max-width: 500px;
  width:100%;
  margin: auto;
}

</style>
<form class="form-signin" method="post">{% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Account</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="inputUsername" placeholder="USN" required autofocus value="{{account_form.initial.username}}">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control"name="email" id="inputEmail" placeholder="name@example.com" required value="{{account_form.initial.email}}">
      <label for="floatingPassword">Email</label>
    </div>
		{% for field in account_form %}
			{% for errors in field.errors %}
				<p style="color: red;">{{errors}}</p>
			{% endfor %}
		{% endfor %}

		

		{% if account_form.non_field_errors %}
			<div style="color:red;">
				<p>{{account_form.non_field_errors}}</p>
			</div> 

		{% endif %}

		{% if success_message %}
			<p style="color:green; text-align: center;">{{success_message}}</p>
		{% endif %}

    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Save Changes</button>
    
  </form>


<div class="d-flex flex-column">
  <a class="m-auto" href="{% url 'password_change' %}"> Change Password</a>
</div>

<div class="containers mt-4 p-4">
  <div class="row">
    <div class="blog-posts">
      <h3 class="mb-3 font-weight-normal">Blog Posts:</h3>
      {% if blog_posts %}
      <ul>  
      {% for post in blog_posts %}
        <a href="{% url 'blog:detail' post.slug %}" style="text-decoration: none;">
          <li class="list-group-item">{{post}}</li>
        </a>
      {% endfor %}
      </ul>
      {% else %}
        <p>You have no Blog Post. Create a Post<a href="%{url 'blog:create' %}">
          Here
        </a></p>
      {% endif %}
    </div>
  </div>
</div>



{% endblock content %}