{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.h3{
	text-align:center;
}

</style>
  

  <form class="form-signin" method="post">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="inputUsername" placeholder="USN" required autofocus>
      <label for="floatingInput" >Username</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control"name="password" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
		{% for field in login_form %}
			{% for errors in field.errors %}
				<p style="color: red;">{{errors}}</p>
			{% endfor %}
		{% endfor %}

		

		{% if login_form.non_field_errors %}
			<div style="color:red;">
				<p>{{login_form.non_field_errors}}</p>
			</div> 

		{% endif %}

    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    
  </form>

<div class="d-flex flex-column">
  <a class="m-auto" href="{% url 'password_reset' %}">Reset Password</a>
</div>


{% endblock content %}